@font-face {
   font-family: Georgia;
   src: url("../../assets/fonts/georgia.ttf");
  }
* {
  box-sizing: border-box;
  }
  html {
   scroll-behavior: smooth; 
}
img { 
   max-width:100%;
}
a{
   text-decoration: none;
}


$background-color-start-screen:radial-gradient(100% 215.42% at 0% 0%, #5B483A, rgba(38, 36, 37, 1) 100%) rgba(33, 31, 32, 1); 
$color-primary:rgba(241, 205, 179, 1);
$color-dark-s:rgba(205, 205, 205, 1);
$color-dark-3xl: #292929;
$color-dark-l:#545454;
$color-dark-xl:rgba(76, 76, 76, 1);
$color-light-l:#F6F6F6;
$color-primary-light:rgba(253, 220, 196, 1);


%align-items-for-column {
   align-items: center;
}

@mixin Georgia-dark3xl-17() {
   font-family: Georgia;
   color: $color-dark-3xl;
   font-size: 17px; 
}
@mixin flexColumn() {
   display: flex;
   flex-direction: column;
}
@mixin Arial-white() {
   font-family: Arial;
   color: white;
   
}



.container {
   max-width:1280px;
   width: 100%;
   padding: 60px 40px;
   margin: 0 auto;
}

.three, .col{
   display: none;
}
.header-container {
   position: sticky; 
   top: 0;
   width: 100%;
   max-width:1280px;
   padding: 12px 40px 20px;
   margin: 20px auto 8px;
   background-color: white;
}

.header{
   display: flex;
   height: 60px;
   justify-content: space-between;
   
}
.logo{
   @include flexColumn();
}

.text {
   &.logo-text {
      color: $color-dark-l;
      font-size: 32px;
      line-height:35px;
      letter-spacing: 2px;
      margin-bottom: 8px;
      
   }
   &.pet-name{
      margin-top: 28px;
      margin-bottom: 27px;
      color:$color-dark-l;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.06em;
   }
   &.footer-cont{
      color: $color-primary;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
   }
  
   &.footer-title{
      max-width: 278px;
      margin-bottom:3px ;
      color: white;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.03em;
   }
   &.title-text{
    margin-left: 6px;
      margin-top: 20px;
      letter-spacing: 2px;
       color:$color-dark-l;
       font-size: 35px;
       align-items: center;
       text-align: center;
       line-height: 130%;
   }
   &.text-button{
   color: $color-dark-3xl;
   font-size: 17px;
   line-height: 130%;
   letter-spacing: 0.032em;
  }
  &.te{
     margin: 20px 3px;
      color:$color-dark-l;
     font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
   }
   font-family: Georgia;
 }
 


 .logo_subtitle{
   font-family: Arial;
   color: $color-dark-l;
   font-size: 13px;
   line-height: 14.95px;
   letter-spacing: 1.5px;
}



.text-small-title{
   margin-top: 43px;
   font-family: 'Arial';
   font-size: 15px;
   line-height: 160%;
   color:$color-dark-s;
}
.nav{
   
   margin-top: 14px;
}
.nav-list {
 
   display: flex;
   transition: .3s;  
 }

 .nav-link {
  text-decoration: none;
  @include Arial-white();
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-3xl;
  margin: 0px  17px 0 14px ;
   
   &:active
    {border-bottom: $color-primary solid 4px;
      
   }

   &:hover {
      
      cursor: pointer;
      color:$color-dark-3xl;
   }
   outline: none;
 }

 .nav-link-active {
   text-decoration: none;
   @include Arial-white();
   font-size: 15px;
   line-height: 160%;
   color: $color-dark-l;
   margin: 0px  17px 0 12px ;
   border-bottom: $color-primary solid 3px;
        
    &:hover {
       
       cursor: pointer;
      
    }
    outline: none;
  }
 

 .card-space{
   display: flex;
   flex-wrap: wrap;
  
   margin: 60px -20px 30px;
   align-items: center;
   justify-content: space-between;
   }
     
   .card:hover .btn {
      background: $color-primary-light;
      border: $color-primary-light 2px solid;
    }
   
    .card-Hide  {
      @include flexColumn();
      @extend %align-items-for-column;
      margin: 0 20px 32px; 
      background: #FAFAFA;
      border-radius: 9px;
      width: 270px;
      height: 435px;
      
      &:hover {
         background-color: white;
         cursor: pointer;
         box-shadow: 0px 2px 35px 14px rgba(13,13,13 ,0.05);
      }

    }
   .card{
   @include flexColumn();
   @extend %align-items-for-column;
   margin: 0 20px 32px; 
   background: #FAFAFA;
   border-radius: 9px;
   width: 270px;
   height: 435px;
   
   &:hover {
      background-color: white;
      cursor: pointer;
      box-shadow: 0px 2px 35px 14px rgba(13,13,13 ,0.05);
   }
      
   }  

   .btn{
      width: 187px;
      height: 52px;
      border-radius: 100px;
      background: #FAFAFA;
      border: $color-primary 2px solid;
      padding: 8px 45px;
      cursor: pointer;
    }
    .btn:hover{
      background: $color-primary-light;
      border: $color-primary-light 2px solid;
    }

  


 .pets{
    max-width: 1280px;
    background-color: $color-light-l;
    margin: 0 auto;
 }


 .arrow{
       
   width: 52px;
   height: 52px;
   align-items: center;
   padding: 23px 19px;
   border: 2px solid $color-primary;
   border-radius: 100px;
   margin: 0 10px 0 10px;
   cursor: pointer;
   &.right1{
      
      background:url(../../assets/icons/button_paginatorR1.svg) no-repeat center center; 
      &:hover{
         background: 
         url(../../assets/icons/button_paginatorR1.svg) no-repeat center center; 
         background-color: $color-primary-light;
        
      }
      &:active{
         background: 
         url(../../assets/icons/button_paginatorR1.svg) no-repeat center center;
   }
   }
   &.right2{
     
      background:url(../../assets/icons/button_paginatorR2.svg) no-repeat center center; 
      &:hover{
         background: 
         url(../../assets/icons/button_paginatorR2.svg) no-repeat center center; 
         background-color: $color-primary-light;
        
      }
      &:active{
         background: 
         url(../../assets/icons/button_paginatorR2.svg) no-repeat center center; 
         background-color: $color-primary;
        
      }
   }
  &.center{
   background:url(../../assets/icons/button_paginatorC.svg) no-repeat center center; 
   &:hover{
      background: 
      url(../../assets/icons/button_paginatorC.svg) no-repeat center center; 
      background-color: $color-primary-light;
     
   }
   &:active{
      background: 
      url(../../assets/icons/button_paginatorC.svg) no-repeat center center; 
      background-color: $color-primary;
     
   }

  }
  


}

.arrow-grey{
   width: 52px;
   height: 52px;
   align-items: center;
   padding: 23px 19px;
   border: 2px solid $color-dark-s;
   border-radius: 100px;
   margin: 0 10px 0 10px;
   cursor: default;
   &.left1{
      background:url(../../assets/icons/button_paginatorl1.svg) no-repeat center center; 
   }
   &.left2{  
   background:url(../../assets/icons/button_paginatorl2.svg) no-repeat center center; 
   }
}


.slider{

  text-align: center;
}






.end-screen{
   display: flex;
 
   width: 100%;
   max-width: 1280px;
   border: #5B483A 2px solid;
   height: 350px;
   background: 
   url(../../assets/images/footer-puppy.png) no-repeat 96% 100% , 
   url(../../assets/images/noise.png) ,
   url(../../assets/images/start-screen-background.jpg);
   background-size: auto, auto, cover; 
   margin: 0 auto;
}
.adres-general-div{
   display: flex;   
}

.email-gl{
   flex-wrap: wrap;
   height: 36px;
   display: flex;
   align-items: center;
   margin-top:36px ;
}

.footer-left{
   @include flexColumn();
   margin:55px 0  0 40px;
}
.footer-right{
   @include flexColumn();
   margin:55px 0  0 172px;
}
.mar-l{
   margin-left: 10px;
}
.mar-r{
   margin-left: -10px;
}
.footer-svg{
   width: 40px;
   height: 32px;
 margin-right: 20px;
   &.email-svg{
   
      background: url(../../assets/icons/icon-email.svg) no-repeat center center;
    }
    &.tel-svg{
      
      background: url(../../assets/icons/icon-phone.svg) no-repeat center center;
    }
    &.map-svg{
      
      background: url(../../assets/icons/icon-marker.svg) no-repeat center center;
    }
}























@media (max-width: 1279px) {

   .container {
      width: 100%;
      max-width:768px;
      padding: 30px 30px;
     
   }

   .heder-container {
      position: sticky;
      height: 120px; 
      top: 0;
      width: 100%;
      max-width:1280px;
      padding: 32px 30px 20px;
      margin: auto;
      background-color: white;
   }
   .nav-link {
     
      margin: 0px  19px 0 11px ;
   }

       
.text {
   &.title-text{
    margin:50px 0 0 0;
   }
  &.te{
     margin: 20px 3px;
   }
 }
 .pets{
  padding-bottom: 15px;
 }

 
 .card-space{
   margin: 30px 0px 0px 0;
   padding: 0 62px 0px 62px;
   }
     
   .card{
      margin: 0 0 30px 0;
      }  
   
      .card-Hide{
         display: none;
      }
.slider{
   margin: -22px 0 30px 0;
}

.end-screen{
   @include flexColumn();
   height: 639px;
   background: 
   url(../../assets/images/footer-puppy.png) no-repeat 50% 100% , 
   url(../../assets/images/noise.png) ,
   url(../../assets/images/start-screen-background.jpg);
  }
     
 

  .footer-left{    
     margin:27px 0  0 8%;
     width: 50%;
  }

  .footer-right{
     width: 49%;
     margin:27px 0  0 -6%;
  }
   
}
























@media (max-width: 767.98px) {
  .Hide{
     display: none;}





   .hamburger{
      display: block;
      position: relative; /* нов */
      margin:  0px auto;
      z-index: 10;
      cursor: pointer;
    }
    .hamburger .line{
      width: 30px;
      height: 2px;
      background-color: #000000;
      display: block;
      margin: 9px auto 0;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
      .hamburger:hover{
      cursor: pointer;
    }
         
    #hamburger-1.is-active .line:nth-child(1){
      transform: translateX(8px) translateY(11px) rotate(90deg);
      background-color: $color-primary;
    }
    #hamburger-1.is-active .line:nth-child(2){    
     transform: translateX(-13px) translateY(0px) rotate(90deg);
     background-color: $color-primary;
   }
   #hamburger-1.is-active .line:nth-child(3){
     transform: translateX(-2px) translateY(-11px) rotate(90deg);
     background-color: $color-primary;
   }
    .col {
      display: block;
      float:left;
      margin: 3% 7.2% 0% 0%;
  
    }
    .three { width: 23.8%; }
    .col:first-of-type {
      margin-left: 0;
    }

   
    .nav{
      position: absolute;
      overflow-x: hidden;
      display: none;
    
      }
      
      .nav._active{
        margin: auto;
        background: $color-dark-3xl;
        top: -30px;
        left: 0%;
        display: block;
        width: 320px;
        height: 823px;
        z-index: 8;
        transition: all 0.3s ease 0s;
      }
  
       .body_lock{
        overflow: hidden;
      }
  
      .nav-list{
         @include flexColumn();
         padding: 20px 0 20px;
         margin: 229px 0 0 4px ;
         text-align: center;
       }
       .nav-link{
          color: $color-dark-s;
          font-size: 32px;
          line-height: 150.5%;
       }
       .nav-item{
          margin: 0 0 43px 0;
       }
       .nav-link-active{
         color: rgb(255, 255, 255);
         font-size: 32px;
         line-height: 160%;
       }








       .container {
         width: 100%;
         max-width:320px;
         padding: 10px 10px;
        
      }
      .header-container {
         position: sticky; 
         top: 0;
         width: 100%;
         
         padding: 0px 10px 30px;
         margin: 30px auto 0px 0;
         background-color: white;
      }
       .text {
         &.title-text{
            text-align: center;
            font-size: 25px;
            letter-spacing: 0.06em;
            margin:30px 0 0 0;
         }
         
         &.footer-cont{
            font-size: 20px;
            letter-spacing: 0.06em;
         }
         &.footer-title{
            margin-bottom:0px ;
            font-size: 25px;
            text-align: center;
            letter-spacing: 0.06em;
         }
         
         &.pet-name{
            margin-top: 32px;
            margin-bottom: 30px;
            font-size: 20px;
         }
        
   
        &.te{
            margin: 22px 0px 0 13px;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.0em;
         }
         
       }

       .logo_subtitle{
         margin:3px 0  0 2px ;
         letter-spacing: 1.3px;
      }

      .card-space{
         display: flex;
         flex-wrap: wrap;
        padding: 0;
         margin: 48px 20px 30px;
         align-items: center;
         justify-content: space-between;
         }

.pets{
   padding:0   0;
}

       .end-screen{
         @include flexColumn();
         height: 809px;
         background: 
         url(../../assets/images/footer-puppy320.png) no-repeat 50% 100% , 
         url(../../assets/images/noise.png) ,
         url(../../assets/images/start-screen-background.jpg);
        
        }
     
        .adres-general-div{
           margin-top: 30px;
           flex-direction: column;
        }
           
        .footer-left{
           align-items: center;
           margin:0 0 0 0;
           width: 100%;
        }
     
        .footer-right{
           align-items: center;
           margin:38px 0 0 0;
           width: 100%;
        }
        .mar-l{
           margin:-21px 0 0px 0;
        }
        .email-gl{
           flex-wrap: wrap;
           height: 36px;
           display: flex;
           align-items: center;
           margin:37px 0 10px -11px;
          
        }

   

.arrow{
   margin: 0 2px 0 2px;
}

.arrow-grey{
margin: 0 2px 0 2px;
}


}




























html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}